---
import Link from '@components/link.svelte'
import Base from '@layouts/base.astro'
import Hero from '@sections/hero.svelte'
import { Image } from 'astro:assets'

import Socials from '@components/socials.astro'
import MeltImg from '@images/melt-ui.png'
import NovelImg from '@images/novel-svelte.png'
import RadixImg from '@images/radix-svelte.png'
import { getCollection } from 'astro:content'
import ArrowUpRight from '~icons/lucide/arrow-up-right'

const articles = await getCollection('articles')
---

<Base>
  <Hero />
  <main
	class="container prose prose-invert mt-32 prose-h1:font-serif
	prose-h2:font-serif prose-h3:font-serif prose-p:font-medium
	prose-a:no-underline prose-blockquote:font-serif prose-blockquote:text-2xl
	prose-blockquote:not-italic prose-em:font-serif prose-em:font-light prose-img:rounded-xl"
  >
    <h2>Who am I</h2>

    <p>
      Still figuring it out. In the meantime, I assume many roles and titles.
      <br />
      <em>Web Developer</em>, <em>OSS Maintainer</em>, <em>Designer</em>, <em>Docs Writer</em
      >,
      <em>Speaker</em>, <em>etc.</em>
      <br />
      <br />
      Through my passion, I've been fortunate to become a <em>Svelte ambassador</em
      >, work with inspiring companies such as <em>V7</em>, <em>Appwrite</em>,
      and <em>Significa</em>, and meet my heroes both online and personally.
      <br />
      <br />
      I'm trying to put my work out there, both to leave my mark, and to try and
      make world a <em>tiny</em> bit better with it. I've put some of it below.
    </p>

    <h2>Projects</h2>
    <ul>
      <li>
        <h3>
          <Link
	client:load
	href="https://melt-ui.com/"
	class="transition-all hover:opacity-75"
          >
            <span class="inline-flex items-center gap-1">
              <span
	class="relative inline-block after:absolute after:bottom-[4px]
									after:left-1/2 after:z-[-1] after:h-1 after:w-full after:-translate-x-1/2
									after:border-b-[6px] after:border-[hsla(34.016,91.598%,65.164%,0.5)]"
              >
                Melt UI
              </span>
              <ArrowUpRight class="size-4" />
            </span>
            <Image slot="img" src={MeltImg} alt="" />
          </Link>
        </h3>
        <p>
          The biggest headless UI library for Svelte, providing accessible &
          composable component builders.
        </p>
      </li>
      <li>
        <h3>
          <Link
	client:load
	href="https://radix-svelte.com/"
	class="transition-all hover:opacity-75"
          >
            <span class="inline-flex items-center gap-1">
              <span
	class="relative inline-block after:absolute after:bottom-[4px]
									after:left-1/2 after:z-[-1] after:h-1 after:w-full after:-translate-x-1/2
									after:border-b-[6px] after:border-[hsla(14.864,100%,49.771%,0.5)]"
              >
                Radix Svelte
              </span>
              <ArrowUpRight class="size-4" />
            </span>
            <Image slot="img" src={RadixImg} alt="" />
          </Link>
        </h3>
        <p>
          The original port of Radix UI for Svelte. Won 3rd place at SvelteHack.<br />
          The work done here later inspired Melt UI.
        </p>
      </li>
      <li>
        <h3>
          <Link
	client:load
	href="https://novel-svelte-thomasglopes.vercel.app/"
	class="transition-all hover:opacity-75"
          >
            <span class="inline-flex items-center gap-1">
              <span
	class="relative inline-block after:absolute after:bottom-[4px]
									after:left-1/2 after:z-[-1] after:h-1 after:w-full after:-translate-x-1/2
									after:border-b-[6px] after:border-[hsla(0,0%,50%,0.5)]"
              >
                Novel Svelte
              </span>
              <ArrowUpRight class="size-4" />
            </span>
            <Image slot="img" src={NovelImg} alt="" />
          </Link>
        </h3>
        <p>
          A port of Steven Tey's library, Novel, to Svelte. It's a Notion-style
          WYSIWYG editor, with AI-powered features.
        </p>
      </li>
    </ul>

    <h2>Experiments & Toys</h2>

    <ul>
      <li>
        <a
	class="border-b-2 border-white font-serif font-light leading-none transition hover:opacity-75"
	href="https://svelte-radial-menu.thomasglopes.com/"
        >
          Radial Menu
        </a>
        <p class="text-sm">
          Radial Menu Experiment based on Rauno's Freiberg work, built in
          Svelte.
          <br />
          One of my first public experiments, and a fun one to build.
          <br />
          <br />
          Was awesome to see Rauno himself notice it!
        </p>
      </li>
      <li>
        <a
	class="border-b-2 border-white font-serif font-light leading-none transition hover:opacity-75"
	href="https://codeverter.vercel.app/"
        >
          Codeverter
        </a>
        <p class="text-sm">
          An early insight into how AI can power code translation.
          <br />
          Built to learn how to integrate LLMs into the web.
          <br />
          <br />
          Proud that this got shared by Guillermo Rauch!
        </p>
      </li>
    </ul>

    <h2>Articles/Ramblings</h2>
			<ul>
				{
					articles.map(article => (
						<li>
							<a
								href={`/articles/${article.slug}`}
								class="border-b-2 border-white font-serif font-light leading-none transition
								hover:opacity-75"
							>
								{article.data.title}
							</a>
							<p class="text-sm">{article.data.description}</p>
						</li>
					))
				}
			</ul>

    <!-- <h2>Work experience</h2>

			<ul>
				<li>
					Currently at <em>V7</em>, I'm working on a <em>super-duper-secret</em>
					project that acts as a natural interface to AI that you'll be astonished
					wasn't made sooner.
					<br />
					I work on the main UI of said project, sprinkling in a lot of love into every
					crevice, crafting beautiful interfaces with natural animations and interactions.
				</li>
				<li>
					At <em>Appwrite</em>, I worked a lot on the <em>Console</em>, but my
					presence was more felt within the more flashy sections seen on the <em>Website</em
					>, the
					<em>init</em> launch week, and the <em>marketing campaigns</em>.
					<br />
					<br />
					It also signaled the start of my journey into <em>Open Source</em>. I
					got to interact with its expansive <em>community</em>, and directly
					contribute to OSS for a living. It <em>inspired</em> me to create my own
					projects, with great success so far.
				</li>
				<li>
					At <em>Significa</em>, I acted a <em>Frontend Developer</em> working on a
					variety of projects, from <em>websites</em> to <em>web apps</em>, <em>mobile apps</em
					>, and even <em>design systems</em>. I also mentored a lot of the junior
					developers.
					<br />
					<br />
					I learned a ton about <em>animation</em> and <em>design</em> there. Their
					website has tons of case studies in projects I worked on, such as <em>Dia</em
					>, <em>Kota</em>
					and <em>Cimple</em>.
				</li>
				<li>
					At <em>Stone Pagamentos</em>, I started my career into the <em>www</em> sphere.
					I learned quickly, developing products that the support team would use to
					serve clients throughout all of <em>Brazil</em>.
					<br />
					<br />
					The quick page was <em>fun</em>, <em>demanding</em>, and <em>energetic</em
					>. To this day I still miss being able to directly request feedback from
					the end-user, since they were my colleagues.
				</li>
				<li>
					I've done some <em>freelancing</em> as well, but nothing of major note.
				</li>
			</ul> -->

    <h2>Socials</h2>

		<Socials />

    <h2>Extra</h2>

    <p>
      <em>Psst.</em> This site is a work in progress. Expect this to change quite
      a lot.
    </p>
  </main>
</Base>
