---
import Socials from '@components/socials.astro'
import ViewCounter from '@components/view-counter.svelte'
import type { Article } from '@content/config'
import { formatDate } from '@helpers/date'

import Base from './base.astro'
import Undo2 from '~icons/lucide/undo-2'

interface Props {
  frontmatter: Article
}
const { frontmatter } = Astro.props
const slug = Astro.params.slug
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <article
	class="container prose prose-invert pt-16 prose-h1:font-serif prose-h2:font-serif prose-h3:font-serif
	prose-p:font-normal prose-a:underline prose-a:transition prose-blockquote:font-serif prose-blockquote:text-2xl
	prose-blockquote:not-italic prose-em:font-serif prose-em:font-light prose-img:rounded-xl [&_a:hover]:opacity-75"
  >
    <header>
      <a
	class="inline-flex items-center gap-2 transition hover:opacity-75"
	href="/"
      >
        <Undo2 class="text-base" />
        <span class="translate-y-px font-serif font-light">Back</span>
      </a>
      <h1 class="mb-0 mt-4">{frontmatter.title}</h1>
      <p class="my-2 opacity-75">{frontmatter.description}</p>
			<p class="mb-0 mt-1 text-xs opacity-75">Published on {formatDate(frontmatter.publishDate)}</p>
			<ViewCounter client:load slug={slug} />
    </header>
    <main>
      <slot />

			<h2>Reach out</h2>
			<Socials />
    </main>
  </article>
</Base>
