---
interface Props {
	title?: string
	description?: string
}

const default_title = 'Hi. I\'m Thomas.'
const default_description = `Just a nerd with more ideas than time. 
I craft interfaces around the web, and ocassionaly write about them.`
const { title = default_title, description = default_description } = Astro.props
---
<html lang="en" class="dark" style="color-scheme: dark;">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Fonts -->
		<link
			rel="preload"
			href="https://rsms.me/inter/inter.css"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'"
		/>
		<noscript>
			<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		</noscript>


		<style>
			:root {
				font-family: Inter, sans-serif;
				font-feature-settings:
					"liga" 1,
					"calt" 1; /* fix for Chrome */
			}
			@supports (font-variation-settings: normal) {
				:root {
					font-family: InterVariable, sans-serif;
				}
			}
		</style>

		<link rel="stylesheet" href="/fonts/gt-super.css" />

		<title>{title}</title>
		<meta name="description" content={description} />

		<!-- OG Image -->
		<meta property="og:image" content="/images/og-image.png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content="Hi. I'm Thomas." />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Thomas G. Lopes's Website" />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
	</head>
	<body class="relative bg-neutral-900  !pb-32 text-white">
		<slot />
	</body>
</html>
